<div class="row">
    <div class="col-md-6">
        <img src="./../../assets/images/logo.png" class="img-fluid">
        <h2>THINGS WORK BETTER IN SPACE</h2>
        <p class="clean">Denique epicurei qui id, sed id quis volumus delicatissimi, sit movet aliquando ea Vix erroribus honestatis ea, eu novum omnesque eam, soluta electram eu siDenique</p>
        <p>Vix erroribus honestatis ea, eu novum omnesque eam, Denique epicurei qui id soluta electram eu siDenique epicurei qui id, sed id quis volumus delicatissimi, sit movet aliquando eat</p>
    </div>
    <div class="col-md-6 header-right d-none d-md-block">
        <p>Lorem ipsum dolor sit amet, quo ea idque ridens aliquam, eripuit vivendum mei te. Nemore quaeque appetere no sea</p>
        <form>
            <fieldset class="form-group">
                <label for="" class="sr-only">Email</label>
                <input type="email" class="form-control" placeholder="Your Email.."/>
            </fieldset>
            <fieldset class="form-group">
                <label for="" class="sr-only">Password</label>
                <input type="password" class="form-control" placeholder="Your Password.."/>
            </fieldset>
            <button type="submit" class="btn btn-outline-info btn-block">Sign In</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <a href="#social"><i class="fas fa-2x fa-chevron-down" ></i></a>
    </div>
</div>